<!DOCTYPE html>
<html>
  <head>
    <title>GARAGE</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Cantora+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="/bower/angular-socket-io/socket.min.js"></script>
    <script src="/javascripts/client-app.js"></script>
  </head>
  <body>
    <p>An error occurred</p>
  </body>
</html>
