<!DOCTYPE html>
<html>
  <head>
    <title>Garage Door</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/entireframework.min.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="GarageDoor" ng-controller="GarageCtrl">
      <h1>Garage Door</h1>
      <i class="status-icon fa" ng-class="[statusIcon(), doorState]"></i>
      <h2>is <span ng-class="doorState">{{ doorState | uppercase }}</span></h2>
  </body>
</html>
