extends layout

block content
  .sign-edge-line
    .sign
      h1 GARAGE DOOR
      .status-icon-window
        i(ng-class='statusIcon()')
        i(class='offscreen' ng-class='statusIcon()')
      h2(class='door-state') IS 
        span(ng-class='doorState') {{ doorState | uppercase }}
      .button-container
        button(ng-click='changeDoorState()', class='btn', ng-class='buttonClass()', ng-bind-html='buttonText() | sanitize')
