extends layout

block content
  h1 Garage Door
  i(class='status-icon fa' ng-class='[statusIcon(), doorState]')
  h2 is 
    span(ng-class='doorState') {{ doorState | uppercase }}
  button(ng-click='changeDoorState()', class='btn', ng-class='buttonClass()') {{ buttonText() }}
