doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js')
    script(src='/bower/angular-socket-io/socket.min.js')
    script(src='/javascripts/client-app.js')

  body(ng-app='GarageMonitor' ng-controller='GarageCtrl')
    block content
    script(src='/javascripts/bootstrap/ui-bootstrap-custom-0.10.0.min.js')
    script(src='/javascripts/bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js')
