@font-face {
  font-family: "Roadway";
  src: url('/fonts/roadway.otf') format('opentype');
}

@keyframes slideup {
  0% { top: 0; opacity: 0.5}
  50% { opacity: 0.5; }
  100% { top: -200px; opacity: 0; }
}

@keyframes slideup-from-below {
  0% { top: 200px; opacity: 0; }
  50% { top: 100px; opacity: 0.5; }
  100% { top: 0px; opacity: 0.5; }
}

@-webkit-keyframes slideup {
  0% { top: 0; opacity: 0.5}
  50% { opacity: 0.5; }
  100% { top: -200px; opacity: 0; }
}

@-webkit-keyframes slideup-from-below {
  0% { top: 200px; opacity: 0; }
  50% { top: 100px; opacity: 0.5; }
  100% { top: 0px; opacity: 0.5; }
}

body {
  text-align: center;
  font-family: "Roadway";
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.sign-edge {
  background: rgb(11, 107, 93);
  width: 480px;
  border-radius: 36px;
  padding: 10px;
  margin: 0 auto;
}

.sign-edge-line {
  width: 480px;
  background: #fff;
  border-radius: 28px;
  padding: 10px;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.5),
              0 0 20px rgba(0,0,0,0.3),
              0 10px 50px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.sign {
  width: 100%;
  background: rgb(11, 107, 93);
  border-radius: 20px;
  padding-top: 5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
}

.sign button:active,
.sign button:focus,
.sign button:active:focus {
  outline: none;
}

.sign button:active {
  color: #fff;
  box-shadow: inset 0 0 0 6px rgb(255, 205, 105), 0 0 10px 0 rgb(255, 205, 105);
  background: rgb(255, 170, 0);
}

.sign button {
  left: -10px;
  top: 10px;
  position: relative;
  background: rgb(242, 162, 0);
  border:  none;
  width:  480px;
  height: 2.5em;
  letter-spacing: 3px;
  margin-top: 2em;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 0 0 6px #222;
              /*0 -1px 1px 0 rgba(255,255,255,0.2);*/
  font-size: 40px;
  color: #222;
}

.sign button .arrow {
    transform: scale(1.3,1);
    position: absolute;
    top: 0.75em;
}

.sign button .arrow-left {
    left: 1.5em;
}

.sign button .arrow-right {
    right: 1.5em;
}

h1 {
  font-size: 80px;
  margin-top: 0;
  text-shadow: 0 0 2px #000;
}

.status-icon-window {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.status-icon {
  font-size: 150px;
  text-shadow: 0 0 2px #333;
  margin-top: 0.15em;
  height: 1.15em;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
}

.status-icon-window:before {
  content: '';
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-image: 
    -webkit-gradient(
      linear, 
      left top,
      left bottom,
      color-stop(1, rgba(11, 107, 93, 0)),
      color-stop(0, rgba(11, 107, 93, 1)));
}

.status-icon-window:after {
  content: '';
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: 
    -webkit-gradient(
      linear, 
      left top,
      left bottom,
      color-stop(0, rgba(11, 107, 93, 0)),
      color-stop(1, rgba(11, 107, 93, 1)));
}

.status-icon.closed {
  left: 0.1em;
}

.status-icon.open {
  top: 0.07em;
}

.status-icon.offscreen {
  display: none;
  position: absolute;
  top: 100px;
}

.status-icon.opening {
  position: absolute;
  animation: slideup 3s linear infinite;
  -webkit-animation: slideup 3s linear infinite;
}

.status-icon.offscreen.opening {
  display: block;
  position: absolute;
  animation: slideup-from-below 3s linear infinite;
  -webkit-animation: slideup-from-below 3s linear infinite;
}

.door-state {
  font-size: 60px;
}

.door-state > span {
  color: #fff;
  text-decoration: underline;
}

.btn {
  margin: 0;
}

