body {
  text-align: center;
}

.status-icon {
  font-size: 80px;
  padding: 30px;
  width: 120px;
  height: 120px;
  border: 1px solid #555;
  line-height: 120px;
}

.unknown {
  color: #ac7eb7;
}

.open {
  color: #d76767;
}

.closed {
  color: #76ce62;
}

.status-icon.closed {
  padding-left: 25px;
  padding-left: 35px;
}
